<div>
  <h1>Settings</h1>
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Change password</h4>
          <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword($event)">
            <app-password-box id="changePasswordOldPassword" placeholder="Old password" class="settings" autoComplete="new-password"></app-password-box>
            <app-password-box id="changePasswordNewPassword" placeholder="New password" class="settings" withPasswordStrength="true" autoComplete="new-password"></app-password-box>
            <app-password-box id="changePasswordConfirmNewPassword" placeholder="Confirm new password" class="settings" autoComplete="new-password"></app-password-box>
            <button type="submit" class="btn btn-primary btn-lg w-100" [disabled]="changePasswordLoading" popoverClass="popover-error-reversed" placement="bottom" ngbPopover triggers="manual" #changePasswordPopover="ngbPopover">
              <span *ngIf="changePasswordLoading" class="spinner-border spinner-border-sm mr-1"></span>
              Change
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Change username</h4>
          <form [formGroup]="changeUsernameForm" (ngSubmit)="changeUsername($event)">
            <app-input-box id="changeUsernameNewUsername" type="text" placeholder="New username" class="settings"></app-input-box>
            <app-password-box id="changeUsernamePassword" placeholder="Password" class="settings" autoComplete="new-password"></app-password-box>
            <button type="submit" class="btn btn-primary btn-lg w-100" [disabled]="changeUsernameLoading" popoverClass="popover-error-reversed" placement="bottom" ngbPopover triggers="manual" #changeUsernamePopover="ngbPopover">
              <span *ngIf="changeUsernameLoading" class="spinner-border spinner-border-sm mr-1"></span>
              Change
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Reset account</h4>
          <p class="card-description alert alert-danger">All saved cameras will be removed irreversibly!</p>
          <form [formGroup]="resetAccountForm" (ngSubmit)="resetAccount($event)">
            <app-password-box id="resetAccountPassword" placeholder="Password" class="settings" autoComplete="new-password"></app-password-box>
            <button type="submit" class="btn btn-primary btn-lg w-100" [disabled]="resetAccountLoading" popoverClass="popover-error-reversed" placement="top" ngbPopover triggers="manual" #resetAccountPopover="ngbPopover">
              <span *ngIf="resetAccountLoading" class="spinner-border spinner-border-sm mr-1"></span>
              Reset
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Delete account</h4>
          <p class="card-description alert alert-danger">Your account will be removed irreversibly!</p>
          <form [formGroup]="deleteAccountForm" (ngSubmit)="deleteAccount($event)">
            <app-password-box id="deleteAccountPassword" placeholder="Password" class="settings" autoComplete="new-password"></app-password-box>
            <button type="submit" class="btn btn-primary btn-lg w-100" [disabled]="deleteAccountLoading" popoverClass="popover-error-reversed" placement="bottom" ngbPopover triggers="manual" #deleteAccountPopover="ngbPopover">
              <span *ngIf="deleteAccountLoading" class="spinner-border spinner-border-sm mr-1"></span>
              Delete
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
