.card-container {
    position: relative;
    max-width: 340px;
    min-width: 310px;
    width: 100%;
    margin: 0 auto;
}

    .card-container .card {
        position: relative;
        background: #fff;
        border-radius: 5px;
        box-sizing: border-box;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        border: none;
        padding: 43px 0 29px;
    }

        .card-container .card .button-container {
            text-align: center;
            margin: 0 43px;
        }

            .card-container .card .button-container button {
                outline: 0;
                cursor: pointer;
                position: relative;
                display: inline-block;
                background: #379FE2;
                width: 100%;
                border: 3px solid #3598D9;
                font-size: 23px;
                font-weight: 600;
                line-height: 0.8;
                text-transform: uppercase;
                overflow: hidden;
                -webkit-transition: .3s ease;
                transition: .3s ease;
                border-radius: 6px;
                padding: 14px 0;
            }

                .card-container .card .button-container button span {
                    position: relative;
                    z-index: 1;
                    color: #f4f4f4;
                    -webkit-transition: .3s ease;
                    transition: .3s ease;
                }

                .card-container .card .button-container button:active:before,
                .card-container .card .button-container button:focus:before {
                    opacity: 1;
                    -webkit-transform: scale(10);
                    transform: scale(10);
                }

                .card-container .card .button-container button:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    width: 22px;
                    height: 22px;
                    border-radius: 100%;
                    opacity: 0;
                    -webkit-transition: .3s ease;
                    transition: .3s ease;
                    margin: -14px 0 0 -14px;
                }

                .card-container .card .button-container button:hover span,
                .card-container .card .button-container button:active span,
                .card-container .card .button-container button:focus span,
                .card-container .card.alt .input-container input,
                .card-container .card.alt .input-container input:focus ~ label {
                    color: #fff;
                }

                .card-container .card .button-container button:hover,
                .card-container .card .button-container button:active,
                .card-container .card .button-container button:focus {
                    background: #40B4FF;
                    border-color: #3EADF6;
                }

        .card-container .card .footer {
            color: #d3d3d3;
            font-size: 18px;
            font-weight: 300;
            text-align: center;
            margin: 29px 0 0;
            height: 34px;
        }

        .card-container .card .input-container {
            position: relative;
            margin: 0 43px 36px;
        }

            .card-container .card .input-container .bar {
                position: absolute;
                left: 0;
                bottom: 0;
                background: #379FE2;
                width: 100%;
                height: 1px;
            }

                .card-container .card .input-container .bar:after {
                    right: 50%;
                }

                .card-container .card .input-container .bar:before {
                    left: 50%;
                }

                .card-container .card .input-container .bar:before,
                .card-container .card .input-container .bar:after {
                    content: "";
                    position: absolute;
                    background: #45B6FF;
                    width: 0;
                    height: 2px;
                    -webkit-transition: .2s ease;
                    transition: .2s ease;
                }

            .card-container .card .input-container input {
                outline: none;
                z-index: 1;
                position: relative;
                background: none;
                width: 100%;
                height: 43px;
                border: 0;
                color: #032B45;
                font-size: 18px;
                font-weight: 400;
            }

                .card-container .card .input-container input:focus ~ .bar:before,
                .card-container .card .input-container input:focus ~ .bar:after {
                    width: 50%;
                }

                .card-container .card .input-container input:focus ~ label {
                    color: #CECECE;
                    -webkit-transform: translate(-12%,-50%) scale(0.75);
                    transform: translate(-12%,-50%) scale(0.75);
                }

                .card-container .card .input-container input:required {
                    box-shadow: none;
                }

                .card-container .card .input-container input:valid ~ label {
                    color: #acb0b0;
                    -webkit-transform: translate(-12%,-50%) scale(0.75);
                    transform: translate(-12%,-50%) scale(0.75);
                }

            .card-container .card .input-container label {
                position: absolute;
                top: 0;
                left: 0;
                color: #acb0b0;
                font-size: 18px;
                font-weight: 300;
                line-height: 43px;
                -webkit-transition: .2s ease;
                transition: .2s ease;
            }

        .card-container .card .title {
            position: relative;
            z-index: 1;
            border-left: 5px solid #f6d55c;
            color: #032B45;
            font-size: 23px;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0 0 24px;
            padding: 8px 0 7px 36px;
        }

        .card-container .card.alt {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            position: absolute;
            top: 14px;
            right: 0;
            z-index: 10;
            background: none;
            border-radius: 5px;
            -webkit-transition: .3s ease;
            transition: .3s ease;
            height: auto;
            overflow: hidden;
            width: 100%;
            min-width: 100%;
            min-height: 100%;
            padding: 43px 0 29px;
        }

            .card-container .card.alt .input-container .bar {
                background: #379FE2;
            }

            .card-container .card.alt .input-container input:focus ~ .bar:before,
            .card-container .card.alt .input-container input:focus ~ .bar:after {
                background: #45B6FF;
            }

            .card-container .card.alt .input-container input:valid ~ label,
            .card-container .card.alt .input-container label {
                color: #7BA2BB;
            }

            .card-container .card.alt .title {
                color: #f4f4f4;
                border-color: #f6d55c;
            }

                .card-container .card.alt .title .close {
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    right: 43px;
                    display: inline;
                    color: #f4f4f4;
                    font-size: 41px;
                    font-weight: 400;
                }

                    .card-container .card.alt .title .close:before {
                        content: "\00d7";
                    }

            .card-container .card.alt .title,
            .card-container .card.alt .input-container,
            .card-container .card.alt .button-container {
                left: 0;
                opacity: 1;
                visibility: visible;
            }

            .card-container .card.alt .toggle {
                color: #CECECE;
                font-size: 23px;
                font-weight: 600;
                line-height: 0.8;
                text-align: center;
                text-transform: uppercase;
                cursor: pointer;
                border-radius: 6px;
                transition: .3s ease;
                -webkit-transition: .3s ease;
                background: #032B45;
                position: absolute;
                top: 0;
                right: 0;
                border: none;
                width: 100%;
                height: 100%;
                box-shadow: none;
                padding: 14px 0;
            }

            .card-container .card.alt.hidden {
                box-shadow: none;
                overflow: unset;
                position: absolute;
                top: 0;
                z-index: 8;
                background: none;
                border-radius: 100%;
                transition: .3s ease;
                -webkit-transition: .3s ease;
                padding: 0;
                min-height: unset;
            }

                .card-container .card.alt.hidden .title,
                .card-container .card.alt.hidden .input-container,
                .card-container .card.alt.hidden .button-container {
                    opacity: 0;
                    visibility: hidden;
                    height: 0;
                }

                .card-container .card.alt.hidden .toggle {
                    background: 0;
                    position: relative;
                    top: 47px;
                    right: -154px;
                    border: 3px solid #CECECE;
                    width: 144px;
                }

                    .card-container .card.alt.hidden .toggle:hover,
                    .card-container .card.alt.hidden .toggle:active,
                    .card-container .card.alt.hidden .toggle:focus {
                        color: #b6b6b6;
                        border: 3px solid #b6b6b6;
                    }

                .card-container .card.alt.hidden form {
                    height: 0;
                }

                    .card-container .card.alt.hidden,
                    .card-container .card.alt.hidden h1,
                    .card-container .card.alt.hidden form,
                    .card-container .card.alt.hidden form .input-container,
                    .card-container .card.alt.hidden form .button-container {
                        left: 0;
                        right: 0;
                        margin: 0;
                        padding: 0;
                    }

            .card-container .card.alt:not(.hidden) .title,
            .card-container .card.alt:not(.hidden) .input-container,
            .card-container .card.alt:not(.hidden) .button-container {
                transition: .3s ease;
                -webkit-transition: .3s ease;
            }

            .card-container .card.alt:not(.hidden) .button-container {
                transition-delay: .3s;
                -webkit-transition-delay: .3s;
            }

            .card-container .card.alt:not(.hidden) .input-container {
                transition-delay: .2s;
                -webkit-transition-delay: .2s;
            }

            .card-container .card.alt:not(.hidden) .title {
                transition-delay: .1s;
                -webkit-transition-delay: .1s;
            }

            .card-container .card.alt:not(.hidden) .toggle {
                -webkit-transition: 0 .3s ease;
                transition: transform .3s ease, 0 .3s ease;
            }

            .card-container .card.alt:not(.hidden) ~ .card:not(.alt) {
                background: #fafafa;
                margin: 0 7px;
            }

            .card-container .card.alt:not(.hidden) ~ .card.first {
                background: #f2f2f2;
                margin: 0 11px;
            }

        .card-container .card.first {
            background: #fafafa;
            height: 7px;
            border-radius: 5px 5px 0 0;
            margin: 0 7px;
            padding: 0;
        }

        .card-container .card.alt.hidden.bottom .toggle {
            left: 0;
            right: 0;
            top: 347px;
            margin: 0 17%;
            right: 0px;
            width: 66%;
            font-size: 20px;
            font-weight: 500;
            text-transform: none;
            border: none;
        }

        .card-container .card.alt.bottom .input-container {
            margin-top: 15%;
        }

        .card-container .card.alt.bottom .button-container{
            position: absolute;
            bottom: 29px;
            width: 74%;
        }

body {
    background: #e9e9e9;
    color: #666;
    font-family: RobotoDraft, Roboto, sans-serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
