.card-container {
    position: relative;
    max-width: 340px;
    min-width: 280px;
    width: 100%;
    margin: 0 auto;
}

    .card-container .card {
        position: relative;
        background: #fff;
        border-radius: 5px;
        box-sizing: border-box;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        border: none;
        padding: 43px 0 29px;
    }

        .card-container .card:not(.alt) {
            -webkit-box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            -moz-box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }

        .card-container .card:not(.alt) .button-container {
            padding-top: 2.5rem;
        }

        .card-container .card .button-container {
            text-align: center;
            margin: 0 43px;
        }

            .card-container .card .button-container button {
                outline: 0;
                cursor: pointer;
                position: relative;
                display: inline-block;
                background: #379FE2;
                width: 100%;
                border: 1px solid #3598D9;
                font-size: 18px;
                font-weight: 500;
                line-height: 0.8;
                overflow: hidden;
                -webkit-transition: .3s ease;
                transition: .3s ease;
                border-radius: 6px;
                padding: 14px 0;
                -webkit-box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                -moz-box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            }

                .card-container .card .button-container button span {
                    position: relative;
                    z-index: 1;
                    color: #f4f4f4;
                    -webkit-transition: .3s ease;
                    transition: .3s ease;
                }

                .card-container .card .button-container button:active:before,
                .card-container .card .button-container button:focus:before {
                    opacity: 1;
                    -webkit-transform: scale(10);
                    transform: scale(10);
                }

                .card-container .card .button-container button:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    width: 22px;
                    height: 22px;
                    border-radius: 100%;
                    opacity: 0;
                    -webkit-transition: .3s ease;
                    transition: .3s ease;
                    margin: -14px 0 0 -14px;
                }

                .card-container .card .button-container button:hover span,
                .card-container .card .button-container button:active span,
                .card-container .card .button-container button:focus span{
                    color: #fff;
                }

                .card-container .card .button-container button:hover,
                .card-container .card .button-container button:active,
                .card-container .card .button-container button:focus {
                    background: #40B4FF;
                    border-color: #3EADF6;
                }

        .card-container .card .title {
            position: relative;
            z-index: 1;
            border-left: 5px solid #f6d55c;
            color: #032B45;
            font-size: 25px;
            font-weight: 600;
            margin: 0 0 24px;
            padding: 8px 0 7px 36px;
        }

        .card-container .card.alt {
            position: absolute;
            top: 14px;
            right: 0;
            z-index: 10;
            background: none;
            border-radius: 5px;
            -webkit-transition: .3s ease;
            transition: .3s ease;
            height: auto;
            overflow: hidden;
            width: 100%;
            min-width: 100%;
            min-height: 100%;
            padding: 43px 0 29px;
        }

            .card-container .card.alt .title {
                color: #f4f4f4;
                border-color: #f6d55c;
            }

                .card-container .card.alt .title .close {
                    cursor: pointer;
                    position: absolute;
                    top: 8px;
                    right: 42px;
                    display: inline;
                    color: #f4f4f4;
                    font-size: 35px;
                    font-weight: 400;
                }

                    .card-container .card.alt .title .close:before {
                        content: "\00d7";
                    }
            .card-container .card.alt .title,
            .card-container .card.alt .button-container {
                left: 0;
                opacity: 1;
                visibility: visible;
            }

            .card-container .card.alt .toggle {
                color: #0574BB;
                font-size: 18px;
                font-weight: 500;
                line-height: 0.8;
                text-align: center;
                cursor: pointer;
                border-radius: 6px;
                transition: .3s ease;
                -webkit-transition: .3s ease;
                background: #032B45;
                position: absolute;
                top: 0;
                right: 0;
                border: none;
                width: 100%;
                height: 100%;
                box-shadow: none;
                padding: 14px 0;
            }

            .card-container .card.alt.hidden {
                box-shadow: none;
                overflow: unset;
                top: 0;
                z-index: 8;
                background: none;
                border-radius: 100%;
                transition: .3s ease;
                -webkit-transition: .3s ease;
                padding: 0;
                min-height: unset;
            }
                .card-container .card.alt.hidden .title,
                .card-container .card.alt.hidden .button-container {
                    opacity: 0;
                    visibility: hidden;
                    height: 0;
                }

                .card-container .card.alt.hidden .toggle {
                    background: 0;
                    position: relative;
                    top: 53px;
                    right: 42px;
                    border: 1px solid #0574BB;
                    width: 110px;
                    align-self: end
                }

                    .card-container .card.alt.hidden .toggle:hover,
                    .card-container .card.alt.hidden .toggle:active,
                    .card-container .card.alt.hidden .toggle:focus {
                        color: #0A9FFF;
                        border: 1px solid #0A9FFF;
                    }

                .card-container .card.alt.hidden form {
                    height: 0;
                }

                    .card-container .card.alt.hidden,
                    .card-container .card.alt.hidden h1,
                    .card-container .card.alt.hidden form,
                    .card-container .card.alt.hidden form .button-container {
                        left: 0;
                        right: 0;
                        margin: 0;
                        padding: 0;
                    }

            .card-container .card.alt:not(.hidden) .title,
            .card-container .card.alt:not(.hidden) .button-container {
                transition: .3s ease;
                -webkit-transition: .3s ease;
            }

            .card-container .card.alt:not(.hidden) .button-container {
                transition-delay: .3s;
                -webkit-transition-delay: .3s;
            }

            .card-container .card.alt:not(.hidden) .title {
                transition-delay: .1s;
                -webkit-transition-delay: .1s;
            }

            .card-container .card.alt:not(.hidden) .toggle {
                -webkit-transition: 0 .3s ease;
                transition: transform .3s ease, 0 .3s ease;
            }

            .card-container .card.alt:not(.hidden) ~ .card:not(.alt) {
                background: #fafafa;
                margin: 0 7px;
            }

            .card-container .card.alt:not(.hidden) ~ .card.first {
                background: #f2f2f2;
                margin: 0 11px;
            }

        .card-container .card.first {
            background: #fafafa;
            height: 7px;
            border-radius: 5px 5px 0 0;
            margin: 0 7px;
            padding: 0;
        }

        .card-container .card.alt.hidden.bottom .toggle {
            top: 245px;
            width: 120px;
            font-size: 13px;
            font-weight: 600;
            text-transform: none;
            border: none;
            text-align: end;
        }

        .card-container .card.alt.bottom .button-container{
            position: absolute;
            bottom: 29px;
            width: 74%;
        }

body {
    background: #e9e9e9;
    color: #666;
    font-family: RobotoDraft, Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
