.sidebar {
  position: fixed;
  min-height: 100vh;
  background: #fff;
  padding: 0;
  width: 210px;
  z-index: 11;
  transition: width 0.25s ease;
  -webkit-transition: width 0.25s ease;
  -moz-transition: width 0.25s ease;
  -ms-transition: width 0.25s ease;
}

  .sidebar .sidebar-brand-wrapper {
    width: auto;
    height: 63px;
  }

  .sidebar .navbar-toggler {
    padding: 16px 25px;
    margin-left: auto;
    min-width: 70px;
  }

    .sidebar .navbar-toggler .menu-icon {
      margin-right: 0;
    }

  .sidebar .nav-link {
    align-items: center;
    display: flex;
    padding: 16px 25px;
    white-space: nowrap;
    height: 52px;
    color: #4a4a4a;
    width: 210px;
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -ms-transition: width 0.25s ease;
  }

    .sidebar .nav-link:hover {
      background: #fafbfc;
      color: #4a4a4a;
    }

  .sidebar .menu-title {
    color: inherit;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    vertical-align: middle;
    cursor: pointer;
  }

  .sidebar .menu-icon {
    margin-right: 1.25rem;
    width: 16px;
  }

  .sidebar .nav-item > .nav-link.active {
    color: #2196f3;
  }

.sidebar-icon-only.sidebar,
.sidebar-icon-only.sidebar .nav-link,
.sidebar-icon-only.sidebar .nav-item .nav-link {
  width: 70px;
}

  .sidebar-icon-only.sidebar .menu-title {
    display: none;
  }

  .sidebar-icon-only.sidebar .menu-icon {
    margin-right: 0;
  }
