<div [class]="'input-container password-container ' + class">
  <input [type]="eyeClicked ? 'text' : 'password'" id={{id}} required="required" formControlName={{id}} [autocomplete]="autoComplete ? autoComplete : 'on'" (keydown)="toggleCapsLkWarning($event)" (blur)="hideCapsLkWarning($event)" (keyup)="checkPasswordStrength($event)" />
  <label for={{id}}>
    {{placeholder}}
    <span id="capsLk" class="badge badge-warning">CapsLk</span>
  </label>
  <div class="input-group-addon" (mousedown)="eyeChanged($event)" (touchstart)="eyeChanged($event)" (mouseup)="eyeChanged($event)" (mouseout)="eyeChanged($event)" (touchend)="eyeChanged($event)">
    <fa-icon [icon]="ico" aria-hidden="true"></fa-icon>
  </div>
  <div class="bar"></div>
  <div *ngIf="withPasswordStrength" class="password-strength-container">
    <div class="password-strength-bar"></div>
    <div class="password-strength-bar"></div>
  </div>
</div>
