<div class="control-container right-bottom-corner">
  <div></div>
  <app-action-button [icon]="faCaretUp" size="2x" class="ptz-control"></app-action-button>
  <div></div>
  <app-action-button [icon]="faCaretLeft" size="2x" class="ptz-control"></app-action-button>
  <app-action-button [icon]="faHome" class="circle"></app-action-button>
  <app-action-button [icon]="faCaretRight" size="2x" class="ptz-control"></app-action-button>
  <div></div>
  <app-action-button [icon]="faCaretDown" size="2x" class="ptz-control"></app-action-button>
  <div></div>
</div>
