.navbar {
    font-family: "Roboto", sans-serif;
    left: 255px;
    transition: left 0.25s ease, width 0.25s ease;
    -webkit-transition: left 0.25s ease, width 0.25s ease;
    -moz-transition: left 0.25s ease, width 0.25s ease;
    -ms-transition: left 0.25s ease, width 0.25s ease;
}

.sidebar-icon-only .navbar {
    left: 70px;
}


.navbar .navbar-menu-wrapper {
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -ms-transition: width 0.25s ease;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 255px);
    height: 63px;
    background-color: rgba(0, 0, 0, 0.3);
}



.sidebar-icon-only .navbar .navbar-menu-wrapper {
    width: calc(100% - 70px);
}


        .navbar .navbar-menu-wrapper .navbar-nav {
            flex-direction: row;
            align-items: stretch;
        }

        .navbar .navbar-menu-wrapper .navbar-nav .nav-item {
            display: flex;
            align-items: center;
            padding-left: 1rem;
            padding-right: 1rem;
            line-height: 1;
        }

            .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
                color: #fff;
                height: 63px;
                font-size: 12px;
                padding: 16px 25px;
                display: flex;
                align-items: center;
            }

                .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i {
                    font-size: 21px;
                }
