.password-container span.fa {
    background: none;
    border: none;
    outline: none;
    font-size: 1.25rem;
    color: #b6b6b6;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    margin-left: 5px;
}

    .password-container span.fa:active,
    .password-container span.fa:focus,
    .password-container span.fa:hover {
        color: #CECECE;
    }

.password-container.alt span.fa {
    color: #7BA2BB;
}

    .password-container.alt span.fa:active,
    .password-container.alt span.fa:focus,
    .password-container.alt span.fa:hover {
        color: #8ABBDA;
    }

.password-container label span.badge.badge-warning {
    margin-left: 10px;
    visibility: hidden;
    background-color: #f6d55c;
}


.password-strength-container {
    position: absolute;
    width: 100%;
    top: 55px;
}

    .password-strength-container .password-strength-bar {
        background: gray;
        height: 10px;
        border-radius: 5px;
    }

        .password-strength-container .password-strength-bar:nth-child(2) {
            position: relative;
            background: black;
            width: 0%;
            top: -10px;
            transition-duration: .1s;
        }

            .password-strength-container .password-strength-bar:nth-child(2).very-weak {
                background: red;
                width: 20%;
            }

            .password-strength-container .password-strength-bar:nth-child(2).weak {
                background: yellow;
                width: 40%;
            }

            .password-strength-container .password-strength-bar:nth-child(2).normal {
                background: orange;
                width: 60%;
            }

            .password-strength-container .password-strength-bar:nth-child(2).strong {
                background: lightgreen;
                width: 80%;
            }

            .password-strength-container .password-strength-bar:nth-child(2).very-strong {
                background: green;
                width: 100%;
            }
