.password-container span.fa {
    background: none;
    border: none;
    outline: none;
    font-size: 1.25rem;
    color: #b6b6b6;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    margin-left: 5px;
}

    .password-container span.fa:active,
    .password-container span.fa:focus,
    .password-container span.fa:hover {
        color: #CECECE;
    }

.password-container.alt span.fa {
    color: #7BA2BB;
}

    .password-container.alt span.fa:active,
    .password-container.alt span.fa:focus,
    .password-container.alt span.fa:hover {
        color: #8ABBDA;
    }

.password-container label span.badge.badge-warning {
    margin-left: 10px;
    visibility: hidden;
    background-color: #f6d55c;
}
