.password-container span.fa {
    background: none;
    border: none;
    outline: none;
    font-size: 1.25rem;
    color: #b6b6b6;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    margin-left: 5px;
}

    .password-container span.fa:active,
    .password-container span.fa:focus,
    .password-container span.fa:hover {
        color: #CECECE;
    }

.password-container.alt span.fa {
    color: #7BA2BB;
}

    .password-container.alt span.fa:active,
    .password-container.alt span.fa:focus,
    .password-container.alt span.fa:hover {
        color: #8ABBDA;
    }

.password-container label span.badge.badge-warning {
    margin-left: 10px;
    visibility: hidden;
    background-color: #f6d55c;
}


.password-strength-container {
    position: absolute;
    width: 100%;
    top: 50px;
}

    .password-strength-container .password-strength-bar {
        background: rgba(1,17,27,.1);
        height: 10px;
        border-radius: 5px;
    }

        .password-strength-container .password-strength-bar:nth-child(2) {
            position: relative;
            background: black;
            width: 0%;
            top: -10px;
            transition-duration: .2s;
        }

            .password-strength-container .password-strength-bar:nth-child(2).very-weak {
                /*red*/
                background: #ff6b5c;
                width: 20%;
            }

            .password-strength-container .password-strength-bar:nth-child(2).weak {
                /*yellow*/
                background: #f6d55c;
                width: 40%;
            }

            .password-strength-container .password-strength-bar:nth-child(2).normal {
                /*orange*/
                background: #faaf48;
                width: 60%;
            }

            .password-strength-container .password-strength-bar:nth-child(2).strong {
                /*lightgreen*/
                background: #a6f65c;
                width: 80%;
            }

            .password-strength-container .password-strength-bar:nth-child(2).very-strong {
                /*green*/
                background: #78ba3c;
                width: 100%;
            }
