footer {
  color: #f4f4f4;
  line-height: 1.5;
  text-align: center;
  font-family: RobotoDraft, Roboto, sans-serif;
  font-size: 12px;
}

  footer a {
    text-decoration: none;
    color: #f4f4f4;
  }

  footer ul {
    list-style: none;
  }

    footer ul li a {
      text-decoration: underline;
    }

      footer ul li a:hover, footer ul li a:focus {
        color: #ffffff;
      }

    footer ul li.divider {
      width: 1px;
      background: #f4f4f4;
      margin: .3rem .5rem;
    }

    footer ul li:not(.divider) {
      align-self: center;
      margin: 0 .2rem;
    }

    footer ul:first-child {
      padding-top: .5rem;
      flex-wrap: wrap;
      background: rgba(0, 0, 0, 0.3);
      margin-bottom: 0;
      color: #f4f4f4;
      vertical-align: middle;
    }

    footer ul:nth-child(2) {
      display: flex;
      justify-content: center;
      padding-bottom: .5rem;
      background: rgba(0, 0, 0, 0.3);
      font-size: 10px;
      margin-bottom: 0;
    }

      footer ul:nth-child(2) li > * {
        display: inline-block;
        vertical-align: middle;
        margin: .15rem;
      }
