<footer>
  <ul>
    <li><b>LeonCam2</b> is the surveillance system with IP network cameras that support ONVIF standard</li>
  </ul>
  <ul>
    <li>
      <span>See source code</span>
      <a href="https://github.com/gradzka/LeonCam2">
        <fa-icon [icon]="faGithub" size="2x"></fa-icon>
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <span>{{thisYear}}</span>
      <a href="https://github.com/gradzka">Gradzka</a>
      <span> & </span>
      <a href="https://github.com/kazimierczak-robert">Kazimierczak</a>
    </li>
  </ul>
</footer>
