.grid-margin {
    margin-bottom: 25px;
}

.card {
    background-color: #00000008;
}

.card-title {
    color: #343a40;
    margin-bottom: 15px;
}

.card-description {
    padding: 0.75rem 1rem;
}

.input-container.settings {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 25px;
}

    .input-container.settings input:focus ~ label {
        color: #7BA2BB;
    }

    .input-container.settings input:valid ~ label, .input-container.settings label {
        color: #4e758f;
    }
